@model dynamic

@if (Model.TotalPages > 1)
{
    <nav aria-label="Pagination">
        <ul class="pagination">
            <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                <a class="page-link" href="?page=@(Model.PageNumber - 1)">Previous</a>
            </li>

            @for (int pageNumber = 1; pageNumber <= Model.TotalPages; pageNumber++)
            {
                <li class="page-item @(pageNumber == Model.PageNumber ? "active" : "")">
                    <a class="page-link" href="?page=@(pageNumber)">@pageNumber</a>
                </li>
            }

            <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                <a class="page-link" href="?page=@(Model.PageNumber + 1)">Next</a>
            </li>
        </ul>
    </nav>
}